.img {
    width: 100px;
    /* height: 100px; */
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 2px 2px 1px rgb(235, 235, 235);
    -webkit-box-shadow: 2px 2px 1px rgb(235, 235, 235);
    -moz-box-shadow: 2px 2px 1px rgb(235, 235, 235);

}

.greeting, .greeting-text {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-weight: 600;
}

.bg-utama {
    background-color: #f9a826;
}

.p-head {
    padding-top: 120px;
    padding-bottom: 10px;
}

.p-body {
    padding-top: 30px;
}

.img-preview {
    padding-top: 20px;
    border: none;
    width: 80%;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

.img-preview:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.01);
}


/* Data User */
.data-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.tx-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20pt !important;
}

.tx-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14pt !important;
}

.row-section {
    padding-top: 10px;
}

/* Edit Profile */
.head-tx {
    color: #f9a826;
}

.tx-main {
    color: #f9a826;
    font-size: larger;
}

.img-hint {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    /* border: 1px solid; */
    color: #f9a826;
    text-align: center !important;
}

.in-file {
    opacity: 0;
}

.change-img-but {
    width: 150px;
    border-color: #f9a826;
    background-color: #fff;
}

.main-but {
    background-color: #f9a826;
    border: #f9a826;
}

.main-but:hover{
    background-color: rgba(249, 168, 38, 0.8) !important;
    color: #fff !important;
    border: #f9a826 !important;
}


/* Ubah Sandi */
.img-sec {
    width: 100%;
}

.visibility-control {
    width: 40px;
    color: #fff;
}

.show-button {
    background-color: #f9a826;
}

.show-button:hover {
    background-color: rgba(249, 168, 38, 0.8) !important;
    /* border: #f9a826 !important; */
}

.show-button:active {
    background-color: #f9a826 !important;
    border-color: #f9a826;    
}